<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shinham.mapper.TreasuryConstantMapper">

	<resultMap id="TreasuryConstantMap" type="TreasuryConstant">
		<id property="id" column="id" />
		<result property="observationDate" column="observation_date" />
		<result property="t10Y2Y" column="T10Y2Y" />
	</resultMap>
	
	<select id="queryFullList" resultMap="TreasuryConstantMap">
		SELECT * FROM treasury_constant
	</select>
	
	<select id="queryDefaultList" parameterType="java.lang.String" resultMap="TreasuryConstantMap">
		SELECT * FROM treasury_constant where observation_date &gt;= #{startDate} and observation_date &lt;= #{endDate}
	</select>
</mapper>